<div class="card text-white border-primary mb-3 text-center">
    <div class="card-header bg-primary">
        <h5>{{device.name}}</h5>
    </div>
    <div class="card-body d-flex flex-column">
      <div class="btn-group p-2" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-info dropdown-toggle"
                aria-controls="dropdown-basic">{{modes[device.mode]}}<span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <button class="dropdown-item" value="mode" *ngFor="let mode of modes;let indexOfelement=index;" (click)="setMode(indexOfelement)">{{mode}}</button>
        </ul>
      </div>

      <color-slider class="p-2" [color]="device.color" (onChangeComplete)="setColor($event)"></color-slider>
      <input class="custom-range p-2" type="range" #speed (change)="setSpeed(speed.value)" min="0" max="{{maxSpeed}}" step="{{maxSpeed/100}}" value="{{invertSpeed(device.speed)}}">
      <label class="text-center">Speed: {{invertSpeed(device.speed)/(maxSpeed/100) | number:'1.0-0'}}%</label>
      <input class="custom-range p-2" type="range" #brightness (change)="setBrightness(brightness.value)" min="0" max="{{maxBrightness}}" step="{{maxBrightness/100}}" value="{{device.brightness}}">
      <label class="text-center">Brightness: {{device.brightness/(maxBrightness/100) | number:'1.0-0'}}%</label>

      <div class="btn-group text-center">
        <button (click)=toggle() class="btn btn-success" *ngIf="!device.isRunning">Turn on</button>
        <button (click)=toggle() class="btn btn-danger" *ngIf="device.isRunning">Turn off</button>
      </div>
      <button class="mt-2 btn btn-warning btn-block" (click)=setAll(device)>Set all</button>
    </div>
</div>